/* src/features/categories/Categories.css */

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 80px; /* Espacio superior para evitar superposición con el Navbar */
  min-height: 100vh; /* Asegurar que las categorías ocupen toda la altura de la pantalla */
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr; /* Por defecto, mostrar una tarjeta por fila */
  gap: 20px; /* Espacio entre tarjetas */
}

@media screen and (min-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Mostrar dos tarjetas por fila en dispositivos móviles */
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s;
  text-align: center;
}

.card h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, orange, red);
  -webkit-background-clip: text; /* Prefijo del proveedor para navegadores webkit (Safari, Chrome) */
  background-clip: text; /* Versión estándar de la propiedad */
  color: transparent;
}
.card:hover {
  transform: scale(1.05);
}
