/* src/features/categories/Categories.css */

/* Contenedor principal para centrar todo */
.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 60px; /* Espacio superior para evitar superposición con el Navbar */
  height: 100vh;
  text-align: center;
}

/* Contenedor de la cuadrícula de categorías */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
  }
}

/* Estilos para las tarjetas de categoría */
.card {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con 60% de opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s;
  text-align: center;
}

.card h2 {
  font-weight: bold; /* Texto en negrita */
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto */
  background: linear-gradient(45deg, orange, red); /* Gradiente de color */
  -webkit-background-clip: text;
  color: transparent; /* Color transparente para mostrar el gradiente */
}

.card:hover {
  transform: scale(1.05);
}
