/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: white;
  padding: 10px 20px;
  z-index: 1000; /* Asegúrate de que el Navbar esté en la parte superior */
  box-sizing: border-box; /* Asegura que el padding se incluye en el ancho total */
}

.navbar-container {
  display: flex;
  justify-content: flex-start; /* Alinear elementos a la izquierda */
  align-items: center;
  width: 100%;
}
