/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: white;
  padding: 10px 20px;
  z-index: 1000; /* Asegúrate de que el Navbar esté en la parte superior */
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos del navbar */
  align-items: center;
  box-sizing: border-box; /* Asegura que el padding se incluye en el ancho total */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: flex-end;
}
