/* src/App.css */

/* Estilos globales */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader img {
  width: 100px;
  height: 100px;
}

/* Navbar */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Categorías y Platos */
.categories,
.dishes {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.categories ul,
.dishes ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories li,
.dishes li {
  margin: 10px;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .categories li,
  .dishes li {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .categories li,
  .dishes li {
    flex: 1 1 calc(100% - 20px);
  }
}
/* src/App.css o src/components/CategoryCard.css */
.card {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco con 80% de opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("/assets/background.jpg"); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}
/* Dishes.css (o tu archivo de estilos global) */

.dishes-container {
  max-height: calc(
    100vh - 60px
  ); /* Altura máxima para el contenedor de platos */
  overflow-y: auto; /* Habilitar el desplazamiento vertical */
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Ancho mínimo y máximo de las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
}

.dish-card {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco con opacidad del 80% */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Separación adicional entre las tarjetas */
}

.dish-card h2 {
  font-weight: bold; /* Texto en negrita */
  color: #000; /* Color del texto negro */
}
.dish-card p {
  font-weight: bold; /* Texto en negrita */
  color: #000; /* Color del texto negro */
}
